<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.e_likilimba">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".PreEtEmpruntActivity"
            android:label="@string/title_activity_pre_et_emprunt_activity"
            android:theme="@style/Theme.Design.Light"></activity>
        <activity
            android:name=".Epargne_perso_Activity"
            android:label="@string/title_activity_epargne_perso_"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".Caiss_Finacement_participatif_Activity"
            android:label="@string/title_activity_caiss__finacement_participatif_"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".CaisseSocialActivity"
            android:label="@string/title_activity_caisse_social"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".NotificationUserActivity"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".DepotActivity"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".RetraitActivity"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".TransfertActivity"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".BoardActivity"
            android:theme="@style/Theme.Design.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />
        </provider>

        <activity
            android:name=".RegisterActivity"
            android:theme="@style/Theme.Design.NoActionBar" /> <!-- android:windowSoftInputMode="adjustPan" -->
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity android:name=".IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>